
<div class="route-map-first">
    <button class="btn btn-success" style="margin:10px">HOME</button>
    <div class="second-div">
        <div class="second-div-one">
          <div class="row">
            <div class="col-lg-6">
                <form> 
                  <div class="row"> <div class="col"> 
                    <input name="location" type="text" class="form-control" placeholder="Location" [(ngModel)]="location" > 
                  </div> 
                  <div class="col"> 
                    <input name="latitude" type="number" class="form-control" placeholder="Latitude" [(ngModel)]="latitude" >
                  </div> 
                  <div class="col"> 
                    <input name="longitude" type="number" class="form-control" placeholder="Longitude" [(ngModel)]="longitude" >
                  </div> 
                  
                  </div> 
                </form>
            </div>
            <div class="col-lg-6" >
                <button type="submit" class="btn btn-success" style="float: right;" (click)="submitForm()">SUBMIT</button>
            </div>
          </div>

            
        </div>
        <div style="background-color: white;" class="second-div-two">
          <div class="row">
            <div class="col-lg-6">
               <div>

                <p style="margin: 12px;"> All Coordinates</p>
                <ul>
                  <li *ngFor="let user of listofLocation">
                    <span class="sp">{{ user.name }}</span>
                    <span class="sp">{{user.lat}}</span>
                    <span class="sp">{{user.long}}</span>
                  </li>
                </ul>
               </div>
                
                <div>
                  <button class="btn btn-danger " style=" margin-left: 50%;">Show status</button>
                </div>
                 
            </div>
            
            <div >
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk"
              type="text/javascript"></script>
              <div id="map"></div>              
            </div>
          </div>
            

        </div>

        
    </div>
</div>

